$light-gray: #8695a4;
$primary-blue: #21243d;
$secondary-blue: #00a8cc;
$dark-blue: #142850;
$primary-orange: #ff6464;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo';
    font-style: normal;
}
a {
    color: black;
    text-decoration: none;
}

button {
    border: none;
    background: none;
}
.break {
    flex-basis: 100%;
    height: 0;
}

.wrapper {
    width: 70vw;
    margin: auto;
}
.nav-wrapper {
    width: 80vw;
    margin: auto;
}
.navbar {
    nav {
        display: flex;
        justify-content: end;
        align-items: center;
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 72px;
            li {
                list-style: none !important;
                margin-right: 20px;
            }
        }
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    header {
        display: grid;
        grid-template-areas: 'div div';
        grid-column-gap: 20px;
    }
    img {
        width: 243px;
        height: 243px;
        border-radius: 50%;
    }
    &__content {
        width: 70%;
        p {
            width: 480px;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
        h1 {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 44px;
            line-height: 60px;
            color: $primary-blue;
        }
        button {
            width: 208px;
            height: 47px;
            border-radius: 2px;
            background: $primary-orange;
            font-weight: 500;
            font-size: 20px;
            color: white;
        }
    }
    &__img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.recent-posts {
    background: #edf7fa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    &__topbar {
        display: flex;
        button {
            margin-left: auto;
        }
    }
    &__posts {
        display: grid;
        grid-template-areas: 'div div';
        width: 100%;
        column-gap: 10px;
    }
    &__post {
        width: 97.5%;
        height: 295px;
        background: white;
        padding: 15px;
        h3 {
            margin-bottom: 10px;
        }
        :nth-child(2) {
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
        }
        :nth-child(3) {
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__topbar {
        display: flex;
        width: 99%;
        margin-bottom: 10px;
        a {
            color: $secondary-blue;
            font-weight: 400;
            margin-left: auto;
        }
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    .featured-work {
        display: grid;
        grid-template-areas: 'div div';
        grid-template-columns: 246px 70%;
        &__content {
            margin-left: 20px;
            h3 {
                height: 44px;
            }
            &-details {
                display: grid;
                grid-template-columns: 10% 20%;
            }
            & > div {
                display: grid;
                grid-template-columns: 10% 20%;
                :nth-child(1) {
                    background-color: $dark-blue;
                }
            }
            p {
                height: 60px;
                span:nth-child(1) {
                    background-color: $dark-blue;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 20px;
                    text-align: center;
                    width: 70px;
                    height: 25px;
                    color: white;
                    border-radius: 16px;
                    font-weight: 900;
                    font-size: 18px;
                }
                span:nth-child(2) {
                    color: $light-gray;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 29px;
                }
            }
            p:nth-child(3) {
                height: 93px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
        }
        &__img {
            height: 180px;
            width: 246px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 5%;
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    ul {
        display: flex;
        justify-self: center;
        align-items: center;
        list-style: none;
        margin-bottom: 20px;
        li {
            height: 30px;
            width: 30px;
            margin-right: 20px;
        }
        li:nth-last-of-type() {
            margin-right: 0;
        }
    }
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
        width: 100vh;
    }
    .hero {
        header {
            display: grid;
            .hero__content {
                grid-area: hero-content;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                p {
                    width: 500px;
                }
            }
            .hero__img {
                grid-area: hero-image;
                margin: 20px 0;
            }
            grid-template-areas:
                'hero-image'
                'hero-content';
            grid-column-gap: 20px;
        }
    }
    .recent-posts {
        padding: 0;
        &__topbar {
            justify-content: center;
            align-items: center;
            button {
                display: none;
            }
        }
        &__post {
            margin-bottom: 20px;
            width: 400px;
            h3 {
                font-size: 24px;
                line-height: 30px;
            }
            p {
                span:nth-child(1) {
                    font-weight: 900;
                    font-size: 16px;
                }
                span:nth-child(2) {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
        &__posts {
            display: grid;
            grid-template-areas:
                'div'
                'div';
            grid-column-gap: 20px;
            justify-content: center;
        }
    }
    .projects {
        .featured-work {
            display: grid;
            grid-template-columns: 100%;
            grid-template-areas: none;
            justify-content: center;
            &__content {
                margin: auto;
            }
            &__img {
                margin: auto;
                width: 339px;
                height: 230px;
                margin-bottom: 20px;
            }
            p:nth-child(3) {
                width: 400px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        header {
            .hero__content {
                p {
                    width: 300px;
                }
                h1 {
                    width: 300px;
                }
            }
        }
    }
    .recent-posts {
        &__post {
            margin-bottom: 20px;
            width: 350px;
        }
    }
    .projects {
        margin-top: 20px;
        .featured-work {
            p:nth-child(3) {
                width: 200px;
                margin-bottom: 40px;
            }
        }
    }
}
